Repository teamniteo/salarycalc: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, yamllint, isort, flake8, black, elm-format, eslint, elm-analyse

codespell:
  name: Check Spelling
  description: Checks for common misspellings in text files.
  entry: codespell --ignore-words=.aspell.en.pws
  language: system

yamllint:
  name: yamllint
  description: Lint YAML files.
  entry: yamllint
  language: system

isort:
  name: isort
  description: A Python utility that sorts imports alphabetically
  entry: isort
  language: system

flake8:
  name: Flake8
  description: Python Style Guide Enforcement
  entry: flake8 --config .flake8
  language: system

black:
  name: Black
  description: Uncompromising Python code formatter
  entry: black
  language: system

elm-format:
  name: Elm Format
  description: Format Elm source code
  entry: elm-format --yes
  language: system

eslint:
  name: ESLint
  description: Pluggable JavaScript linter
  entry: eslint --fix src/
  pass_filenames: false
  language: system

elm-analyse:
  name: Elm Analyse
  description: Identify deficiencies and apply best practices in Elm
  entry: elm-analyse
  pass_filenames: false
  language: system

Pin nix install script for MacOS deps
  .circleci/config.yml
Due: codespell, yamllint

Update base values for 2022
  config.yml
Due: codespell, yamllint

update values for 2023
  config.yml
Due: codespell, yamllint

upgrade to nixpkgs 23.05 and Python 3.11
  .envrc
  .gitignore
  default.nix
  nix/default.nix
  nix/sources.json
  nix/sources.nix
  poetry.lock
  pyproject.toml
Due: codespell

run CI on GitHub Actions
  .circleci/config.yml
  .github/actions/nix-shell/action.yml
  .github/actions/uncommitted-changes/action.yml
  .github/workflows/ci.yml
  .github/workflows/nix-gh-cache.yml
  Makefile
  elm-srcs.nix
  elm.json
  registry.dat
Due: codespell, yamllint

trying to fix make dist
  .gitignore
  Makefile
  default.nix
  elm.json
  package.json
  src/index.html
  yarn.lock
Due: codespell

Fix elm app init
  Makefile
  src/index.html
  src/index.js
Due: codespell, eslint

fix eslint
  .eslintrc.yml
  default.nix
  package.json
  yarn.lock
Due: codespell, yamllint

update python packages
  .github/workflows/ci.yml
  Makefile
  default.nix
  elm-srcs.nix
  nix/default.nix
  poetry.lock
  poetry.toml
  pyproject.toml
  registry.dat
Due: codespell, yamllint

mental not to re-add auto-publish in the future
  .github/workflows/ci.yml
Due: codespell, yamllint

no longer needed
  nix/buildableShell.nix
Due: codespell

Set nixpkgs in NIX_PATH to whatever we specify in nix/sources.json
  .github/actions/nix-shell/action.yml
Due: codespell, yamllint

use common ghactions
  .github/actions/nix-shell/action.yml
  .github/actions/uncommitted-changes/action.yml
  .github/workflows/ci.yml
  .github/workflows/nix-gh-cache.yml
Due: codespell, yamllint

Update values for 2024
  Makefile
  config.yml
  scripts/fetch_config_values.py
Due: codespell, yamllint, isort, flake8, black

Round the commitment bonus to two decimal points so that it is easier to verify that the salary is being calculated correctly.
  src/Main.elm
Due: codespell, elm-format, elm-analyse

Show when salaries and countries values were last updated
  config.yml
  scripts/fetch_config_values.py
  src/Config.elm
  src/Main.elm
Due: codespell, yamllint, isort, flake8, black, elm-format, elm-analyse

fix tests
  src/Config.elm
  src/Main.elm
  tests/Tests.elm
Due: codespell, elm-format, elm-analyse

Auto-publish to NPM
  .github/workflows/ci.yml
Due: codespell, yamllint

fix ci.yaml syntax
  .github/workflows/ci.yml
Due: codespell, yamllint

fix ci badge
  README.md
Due: codespell

auto-purge CDN after release
  .github/workflows/ci.yml
  package.json
Due: codespell, yamllint

fix date
  config.yml
Due: codespell, yamllint

Update values for 2025
  .gitignore
  Makefile
  README.md
  config.yml
  default.nix
  mypy.ini
  nix/default.nix
  nix/sources.json
  poetry.lock
  pyproject.toml
  scripts/fetch_config_values.py
Due: codespell, yamllint, isort, flake8, black

Remind me next time what to do after release
  README.md
Due: codespell

Update README.md to include "we're hiring" section
  README.md
Due: codespell

Path conditions:
  codespell: any file but: ^.*\.svg
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
  elm-format: any of: .*\.elm
  eslint: any of: \.(js|mjs|cjs)$
  elm-analyse: any of: .*\.elm
