Repository teamniteo/salarycalc: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, yamllint, isort, flake8, black, elm-format, eslint, elm-analyse

.pre-commit-config.yaml:

minimum_pre_commit_version: 1.17.0
default_stages: [commit,push]
repos:

  - repo: local
    hooks:

      - id: codespell
        name: Check Spelling
        description: Checks for common misspellings in text files.
        entry: codespell --ignore-words=.aspell.en.pws
        language: system
        exclude: ^.*\.svg
        types: [file, text]

      - id: trailing-whitespace
        name: Trim Trailing Space
        entry: trailing-whitespace-fixer
        language: system
        types: [file, text]

      - id: end-of-file-fixer
        name: Fix End of Files
        description: Ensures that a file is either empty, or ends with one newline.
        entry: end-of-file-fixer
        language: system
        types: [file, text]

      - id: check-merge-conflict
        name: Check for merge conflicts
        description: Check for files that contain merge conflict strings.
        entry: check-merge-conflict
        language: system
        types: [file, text]

      - id: yamllint
        name: yamllint
        description: Lint YAML files.
        entry: yamllint
        language: system
        types: [yaml]

      - id: isort
        name: isort
        description: A Python utility that sorts imports alphabetically
        entry: isort
        language: system
        types: [python]

      - id: flake8
        name: Flake8
        description: Python Style Guide Enforcement
        entry: flake8 --config .flake8
        language: system
        types: [python]

      - id: black
        name: Black
        description: Uncompromising Python code formatter
        entry: black
        language: system
        types: [python]

      - id: elm-format
        name: Elm Format
        description: Format Elm source code
        entry: elm-format --yes
        language: system
        files: .*\.elm
        types: [file]

      - id: eslint
        name: ESLint
        description: Pluggable JavaScript linter
        entry: eslint --fix src/
        pass_filenames: false
        language: system
        types: [javascript]

      - id: elm-analyse
        name: Elm Analyse
        description: Identify deficiencies and apply best practices in Elm
        entry: elm-analyse
        pass_filenames: false
        language: system
        files: .*\.elm
        types: [file]

Make dropdowns searchable
  src/Main.elm
  tests/Tests.elm
Due: codespell, elm-format, elm-analyse

Make search box in focus
  src/Main.elm
Due: codespell, elm-format, elm-analyse

Add keyboard navigation to dropdowns
  src/Main.elm
  tests/Tests.elm
Due: codespell, elm-format, elm-analyse

Migrate from poetry to uv
  .flake8
  .gitignore
  Makefile
  config.yml
  default.nix
  nix/default.nix
  nix/sources.json
  nix/sources.nix
  poetry.lock
  poetry.toml
  pyproject.toml
  scripts/fetch_config_values.py
  uv.lock
Due: codespell, yamllint, isort, flake8, black

Fix the starting rungs of the Operations career
  Makefile
  config.yml
  scripts/fetch_config_values.py
Due: codespell, yamllint, isort, flake8, black

Start Operations career with a specialist instead of representative
  config.yml
Due: codespell, yamllint

Update values for 2026
  README.md
  config.yml
  scripts/fetch_config_values.py
Due: codespell, yamllint, isort, flake8, black

lower aff ratio to 0.4
  config.yml
Due: codespell, yamllint

lower aff ratio to 0.35
  config.yml
Due: codespell, yamllint
