Repository teamniteo/salarycalc: changes, and which pre-commit hooks are due for each by the changed paths.
All: codespell, yamllint, isort, flake8, black, elm-format, eslint, elm-analyse

codespell:
  name: Check Spelling
  description: Checks for common misspellings in text files.
  entry: codespell --ignore-words=.aspell.en.pws
  language: system

yamllint:
  name: yamllint
  description: Lint YAML files.
  entry: yamllint
  language: system

isort:
  name: isort
  description: A Python utility that sorts imports alphabetically
  entry: isort
  language: system

flake8:
  name: Flake8
  description: Python Style Guide Enforcement
  entry: flake8 --config .flake8
  language: system

black:
  name: Black
  description: Uncompromising Python code formatter
  entry: black
  language: system

elm-format:
  name: Elm Format
  description: Format Elm source code
  entry: elm-format --yes
  language: system

eslint:
  name: ESLint
  description: Pluggable JavaScript linter
  entry: eslint --fix src/
  pass_filenames: false
  language: system

elm-analyse:
  name: Elm Analyse
  description: Identify deficiencies and apply best practices in Elm
  entry: elm-analyse
  pass_filenames: false
  language: system

fix publishing of yarn bins
  default.nix
Due: codespell

let's see if publishing works
  Makefile
  default.nix
  package.json
Due: codespell

fix publishing
  .circleci/config.yml
  Makefile
Due: codespell, yamllint

fix Netlify deploy
  netlify.toml
Due: codespell

Update documentation on how to develop this project
  README.md
Due: codespell

I don't know why this helped, but it did
  default.nix
  package.json
Due: codespell

Use Nix to install all dependencies to build and work on the project
  .aspell.en.pws
  .circleci/config.yml
  .editorconfig
  .envrc
  .flake8
  .gitattributes
  .gitignore
  .isort.cfg
  .pre-commit-config.yaml
  .yamllint
  Makefile
  README.md
  default.nix
  elm.json
  nix/README.md
  nix/buildableShell.nix
  nix/default.nix
  nix/sources.json
  nix/sources.nix
  poetry.lock
  pyproject.toml
  scripts/fetch_config_values.py
  shell.nix
Due: codespell, yamllint, isort, flake8, black

bump nixos-20.03
  nix/sources.json
Due: codespell

upgrade Elm from 0.19.0 to 0.19.1
  .npmignore
  Makefile
  default.nix
  elm-srcs.nix
  elm.json
  package.json
  registry.dat
  src/Config.elm
  tests/Tests.elm
  yarn.lock
Due: codespell, elm-format, elm-analyse

try the new release of nix-docker-base with max-jobs fix
  .circleci/config.yml
Due: codespell, yamllint

Elm tests on CircleCI
  .circleci/config.yml
  .pre-commit-config.yaml
  default.nix
Due: codespell, yamllint

add support for ESLint
  .eslintrc.yml
  .pre-commit-config.yaml
  default.nix
  package.json
  src/index.js
  src/salary-calculator.js
  yarn.lock
Due: codespell, yamllint, eslint

direnv reload works with partly nixified Elm app
  .gitignore
  Pipfile
  Pipfile.lock
  default.nix
  elm-srcs.nix
  nix/default.nix
  nix/sources.json
  package-lock.json
  package.json
  yarn.lock
Due: codespell

run dist outside of Nix
  .circleci/config.yml
  Makefile
  default.nix
  package.json
Due: codespell, yamllint

remove npx
  Makefile
  package.json
  yarn.lock
Due: codespell

Add more countries
  .gitignore
  config.yml
  scripts/fetch_config_values.py
Due: codespell, yamllint, isort, flake8, black

alphabetize countries
  config.yml
Due: codespell, yamllint

Testing publish process
  .circleci/config.yml
Due: codespell, yamllint

More trying to fix the npm publish process
  .circleci/config.yml
Due: codespell, yamllint

Revert mid-year change for Ukraine
  config.yml
Due: codespell, yamllint

fix tests
  config.yml
Due: codespell, yamllint

Bump year
  LICENSE
Due: codespell

Update base values for 2021
  config.yml
Due: codespell, yamllint

Rename niteoweb -> teamniteo
  Makefile
  README.md
  config.yml
  default.nix
  package.json
Due: codespell, yamllint

Update base values for 2022
  config.yml
Due: codespell, yamllint

Bump year to 2022
  LICENSE
Due: codespell

Pin nix install script for MacOS deps
  .circleci/config.yml
Due: codespell, yamllint

Try older nix install script
  .circleci/config.yml
Due: codespell, yamllint

Path conditions:
  codespell: any file but: ^.*\.svg
  yamllint: any of: \.(yaml|yml)$
  isort: any of: \.py$
  flake8: any of: \.py$
  black: any of: \.py$
  elm-format: any of: .*\.elm
  eslint: any of: \.(js|mjs|cjs)$
  elm-analyse: any of: .*\.elm
